In [1]:
import pandas as pd

In [2]:
h = pd.read_csv("tmp/data/holdout/drug_drug_anat_gene_only_holdout_0.tsv", sep='\t')

In [3]:
h.shape

(94014, 5)

In [4]:
h.head()

  chemical_id disease_id  etype  chemical_uid  disease_uid
0     DB01240   C0035455      1         34551         7888
1     DB00959   C0035455      0          4258         7888
2     DB01053   C0035455      0         13837         7888
3     DB00985   C0035455      0         36206         7888
4     DB00764   C0035455      0         32958         7888

In [5]:
h["etype"].value_counts()

0    93429
1      585
Name: etype, dtype: int64

In [6]:
train = pd.read_csv("tmp/data/train/drug_drug_anat_gene_only_train_0.tsv", sep='\t')

In [7]:
train.shape

(11695, 5)

In [8]:
train.head()

  chemical_id disease_id  etype  chemical_uid  disease_uid
0     DB00375   C0020443      1         22659         8222
1     DB00266   C0020443      0         12372         8222
2     DB01098   C0020443      1         13803         8222
3     DB00408   C0020443      0          8550         8222
4     DB00641   C0020443      1         45929         8222

In [9]:
train["etype"].value_counts()

0    9356
1    2339
Name: etype, dtype: int64

In [10]:
train["etype"].value_counts(normalize=True)

0    0.8
1    0.2
Name: etype, dtype: float64

---

In [11]:
gold = pd.read_csv("tmp/hetionet_gold.tsv", sep='\t')

In [12]:
gold.shape

(2924, 9)

In [13]:
gold.head()

,chemical_cui,chemical_name,disease_cui,disease_name,etype,chemical_id,chemical_htype,disease_id,disease_htype
0,UMLS:C0000477,fampridine,UMLS:C0026769,multiple sclerosis,TREATS_CDtDO,DB06637,Compound,C0026769,Side Effect
1,UMLS:C0000545,eicosapentaenoic acid,UMLS:C0032961,"Pregnancy, function",TREATS_CDtDO,DB00159,Compound,C0032961,Side Effect
2,UMLS:C0000618,mercaptopurine,UMLS:C0023449,acute lymphocytic leukemia,TREATS_CDtDO,DB01033,Compound,C0023449,Side Effect
3,UMLS:C0000618,mercaptopurine,UMLS:C0023487,acute promyelocytic leukemia,TREATS_CDtDO,DB01033,Compound,C0023487,Side Effect
4,UMLS:C0000956,acenocoumarol,UMLS:C0034065,Pulmonary embolism,TREATS_CDtDO,DB01418,Compound,C0034065,Side Effect

In [14]:
gold["etype"].value_counts()

TREATS_CDtDO    2924
Name: etype, dtype: int64

In [18]:
temp = pd.concat([
    h.query("etype == 1"),
    train.query("etype == 1")
])

In [19]:
temp.shape

(2924, 5)

In [20]:
temp.head()

    chemical_id disease_id  etype  chemical_uid  disease_uid
0       DB01240   C0035455      1         34551         7888
195     DB01551   C0035455      1          9559         7888
340     DB01240   C0027424      1         34551        15928
372     DB01620   C0027424      1         14755        15928
401     DB00388   C0027424      1         17769        15928

In [26]:
a = (temp
    [["chemical_id", "disease_id"]]
    .sort_values(["chemical_id", "disease_id"])
    .reset_index(drop=True)
)

In [28]:
b = (gold
    [["chemical_id", "disease_id"]]
    .sort_values(["chemical_id", "disease_id"])
    .reset_index(drop=True)
    )

In [29]:
a.head()

  chemical_id disease_id
0     DB00014   C0014175
1     DB00035   C0019069
2     DB00035   C0032617
3     DB00035   C0270327
4     DB00091   C0003873

In [30]:
b.head()

  chemical_id disease_id
0     DB00014   C0014175
1     DB00035   C0019069
2     DB00035   C0032617
3     DB00035   C0270327
4     DB00091   C0003873

In [31]:
a.equals(b)

True

ok so the splitting of holdout and train data is correct...

---

i should have no proper connections in the resulting network. why am i still getting 0.8 roc??