2018-07-06

format the gold standard a little bit

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/hetionet/indications.tsv", sep='\t')

In [3]:
data.head()

,doid_id,drugbank_id,disease,drug,category,n_curators,n_resources
0,DOID:10652,DB00843,Alzheimer's disease,Donepezil,DM,2,1
1,DOID:10652,DB00674,Alzheimer's disease,Galantamine,DM,1,4
2,DOID:10652,DB01043,Alzheimer's disease,Memantine,DM,1,3
3,DOID:10652,DB00989,Alzheimer's disease,Rivastigmine,DM,1,3
4,DOID:10652,DB00245,Alzheimer's disease,Benzatropine,SYM,3,1

---

In [4]:
gold = (data
    .rename(columns={
        "doid_id": "disease_id",
        "drugbank_id": "chemical_id",
        "disease": "disease_name",
        "drug": "drug_name"
    })
    .query("category == 'DM'")
    .drop(["n_curators", "n_resources"], axis=1)
    .replace("DM", 1)
)

In [5]:
gold.head()

    disease_id chemical_id         disease_name     drug_name  category
0   DOID:10652     DB00843  Alzheimer's disease     Donepezil         1
1   DOID:10652     DB00674  Alzheimer's disease   Galantamine         1
2   DOID:10652     DB01043  Alzheimer's disease     Memantine         1
3   DOID:10652     DB00989  Alzheimer's disease  Rivastigmine         1
16   DOID:9206     DB00736  Barrett's esophagus  Esomeprazole         1

In [6]:
gold.shape

(755, 5)

In [7]:
gold.to_csv("data/hetionet/goldstd.tsv", sep='\t', index=False)